html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, address, big, em, img, s, small, strike, strong, var, b, u, i, center, dl, dt, dd, ol, ul, li, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
    vertical-align: baseline;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    --main-text: black;
    --hover-text: rgb(202, 184, 21); 
}

#landing-page{
    width: 100%;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

#header-info{
    display: flex;
    justify-content: space-between;
    border-bottom: .02rem solid rgba(0, 0, 0, 0.8);

    h1{
        text-transform: uppercase;
        font-size: .7rem;
        background-color: black;
        color: white;
        width: 60%;
        padding: 0.5rem 0.5rem 0.5rem 16rem;
    }

    ul{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 40%;
        padding-right: 9rem;;
        
        li{
            width: max-content;
            font-size: .7rem;
            border-right: .02rem solid rgba(0, 0, 0, 0.8);
            text-transform: uppercase;
            text-align: center;
            
            a{
                text-align: center;
                padding: 1rem;

                &:hover{
                    color: var(--hover-text);
                }
            }
        }
    }
}

#nav-logo{
    display: flex;
    justify-content: space-around;
    height: 5rem;

    a img{
        position: relative;
        width: 50%;
        transition: all 3s ease-in;
        z-index: 2;
        transform: translate(-4rem, -2rem);
    }

    form{
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .search-button-header{

            input,
            button{
                font-size: .8rem;
                padding: 0.7rem;
            }

            input{
                width: 28rem;
                border: 0.03rem solid black;
                border-radius: 0.2rem;
                outline: none;
                color: var(--hover-text);
            }

            button{
                color: white;
                background-color: var(--hover-text);
                border: none;
                position: absolute;
                transform: translate(-2.25rem, 0.03rem);
                border-top-right-radius: .2rem;
                border-bottom-right-radius: .2rem;

                &:hover{
                    color: white;
                }
            }
        }
        button{
            border: none;
            background-color: white;
            font-size: 1rem;
            cursor: pointer;

            
            &:hover{
                    color: var(--hover-text);
            }

            .fa-shopping-cart{
                padding: 0 0.5rem;

            }
        }
    }
}

#nav-items{
    margin: 0 8.5rem;
    border-top: .02rem solid rgba(0, 0, 0, 0.8);
    border-bottom: .02rem solid rgba(0, 0, 0, 0.8);

    ul{
        display: flex;
        justify-items: flex-start;
        position: relative;
        

        li{
            position: relative;
            font-size: .8rem;
            padding: 1rem 0;

            a{
                border-right: .02rem solid rgba(0, 0, 0, 0.8);
                padding: 0 1rem;
                display: block;
                color: black;
            }

            ul{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                position: absolute;
                display: none;
                transform: translateY(1rem);
                z-index: 30;
                
                
                li {
                    display: block;
                    border-bottom: 0.02rem solid rgba(0, 0, 0, 0.8);
                    background-color: rgb(243, 243, 243);
                    padding: 1rem;

                    a{
                        border: none;
                        text-align: center;
                        color: black;
                    }

                    &:hover {
                        background-color: black;
                        
                    }
                    &:hover a{
                        color: white;
                    }
                }
            }
        
        &:hover ul{
            display: block;
        }
    }
    }
}

#hero{
    height: 40rem;
    margin: 1rem 8.5rem ;
    display: grid;
    grid-template-rows: 3fr 3fr 2fr;
    grid-template-columns: repeat(3, 3fr);
    grid-gap: 1rem;

    div{
        border-radius: 0.5rem;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 27rem;
        transition: all 0.3s ease-in;

        &:hover{
            background-size: 29rem;
            border-radius: 0.5rem;
        }
                
        a{
            font-size: 2.5rem;
            color: white;
            transition: all 0.5s ease-in;
        }
    }

    .main-shoes{
        background-image: linear-gradient(to top, rgba(0,0,0, 0.4)), url("/assets/hero/sharon-garcia-pkUH647RogQ-unsplash-min.jpg");
        grid-row: 1 / 3;
        grid-column: 1 / 3;
        background-position: bottom;
        position: relative;
        background-size: 52rem;

        &:hover{
            background-size: 54rem;
        }

        a{
            font-size: 4rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-transform: uppercase;
            text-align: right;
            color: white;
            border-radius: .5rem;
            width: 35rem;
            

        }
    }

    .adidas{
        background-image: linear-gradient(to top, rgba(0,0,0, 0.5)), url("/assets/hero/bogdan-glisik-WQqczef8Cfg-unsplash\ \(1\)-min.jpg");

        a{
            position: absolute;
            top: 40%;
            left: 78%;
            transform: translate(-50%, -50%);
        }
    
    }

    .nike{
        background-image: linear-gradient(to top, rgba(0,0,0, 0.5)), url("/assets/hero/revolt-164_6wVEHfI-unsplash\ \(1\)-min.jpg");
        a{
            position: absolute;
            top: 75%;
            left: 78%;
            transform: translate(-50%, -50%);
        }
    }
    .vans{
        background-image: linear-gradient(to top, rgba(0,0,0, 0.5)), url("/assets/hero/matt-tsir-GJs-sZriX9g-unsplash-min.jpg");
        a{
            position: absolute;
            transform: translate(9rem, 3.5rem);
        }
    }
    .reebok{
        background-image: linear-gradient(to top, rgba(0,0,0, 0.5)), url("/assets/hero/maureen-de-wit-cEot_30k978-unsplash-min.jpg");
        a{
            position: absolute;
            transform: translate(8rem, 3.5rem);
        }
    }
    .converse{
        background-image: linear-gradient(to top, rgba(0,0,0, 0.5)), url("/assets/hero/thuan-pham-tvl2Pa98K_g-unsplash-min.jpg");
        a{
            position: absolute;
            transform: translate(6rem, 3.5rem);
        }
    }
}

.best-seller-section{
    margin: 1rem 8.5rem;
    
    .title-gorros{
        font-size: 1.5rem;
        margin-top: 2rem;
        padding: 1rem 0 0.5rem 0;
        font-weight: lighter;
        border-bottom: .1rem solid var(--hover-text);
    }

    .card{
        height: 30rem;
    }
}

