html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, address, big, em, img, s, small, strike, strong, var, b, u, i, center, dl, dt, dd, ol, ul, li, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'Montserrat', sans-serif;
  vertical-align: baseline;
  list-style-type: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  --main-text: black;
  --hover-text: rgb(202, 184, 21);
}

#landing-page {
  width: 100%;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

#header-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 0.02rem solid rgba(0, 0, 0, 0.8);
}

#header-info h1 {
  text-transform: uppercase;
  font-size: .7rem;
  background-color: black;
  color: white;
  width: 45%;
  padding: 0.5rem 0.5rem 0.5rem 16rem;
}

#header-info ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 55%;
  padding-right: 9rem;
}

#header-info ul li {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: .7rem;
  border-right: 0.02rem solid rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  text-align: center;
}

#header-info ul li a {
  text-align: center;
  padding: 1rem;
}

#header-info ul li a:hover {
  color: var(--hover-text);
}

#nav-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 5rem;
}

#nav-logo a img {
  position: relative;
  width: 50%;
  -webkit-transition: all 3s ease-in;
  transition: all 3s ease-in;
  z-index: 2;
  -webkit-transform: translate(-4rem, -2rem);
          transform: translate(-4rem, -2rem);
}

#nav-logo form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#nav-logo form .search-button-header input,
#nav-logo form .search-button-header button {
  font-size: .8rem;
  padding: 0.7rem;
}

#nav-logo form .search-button-header input {
  width: 28rem;
  border: 0.03rem solid black;
  border-radius: 0.2rem;
  outline: none;
  color: var(--hover-text);
}

#nav-logo form .search-button-header button {
  color: white;
  background-color: var(--hover-text);
  border: none;
  position: absolute;
  -webkit-transform: translate(-2.25rem, 0.03rem);
          transform: translate(-2.25rem, 0.03rem);
  border-top-right-radius: .2rem;
  border-bottom-right-radius: .2rem;
}

#nav-logo form .search-button-header button:hover {
  color: white;
}

#nav-logo form button {
  border: none;
  background-color: white;
  font-size: 1rem;
  cursor: pointer;
}

#nav-logo form button:hover {
  color: var(--hover-text);
}

#nav-logo form button .fa-shopping-cart {
  padding: 0 0.5rem;
}

#nav-items {
  margin: 0 8.5rem;
  border-top: 0.02rem solid rgba(0, 0, 0, 0.8);
  border-bottom: 0.02rem solid rgba(0, 0, 0, 0.8);
}

#nav-items ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: flex-start;
  position: relative;
}

#nav-items ul li {
  position: relative;
  font-size: .8rem;
  padding: 1rem 0;
}

#nav-items ul li a {
  border-right: 0.02rem solid rgba(0, 0, 0, 0.8);
  padding: 0 1rem;
  display: block;
  color: black;
}

#nav-items ul li ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: absolute;
  display: none;
  -webkit-transform: translateY(1rem);
          transform: translateY(1rem);
  z-index: 30;
}

#nav-items ul li ul li {
  display: block;
  border-bottom: 0.02rem solid rgba(0, 0, 0, 0.8);
  background-color: #f3f3f3;
  padding: 1rem;
}

#nav-items ul li ul li a {
  border: none;
  text-align: center;
  color: black;
}

#nav-items ul li ul li:hover {
  background-color: black;
}

#nav-items ul li ul li:hover a {
  color: white;
}

#nav-items ul li:hover ul {
  display: block;
}

#hero {
  height: 40rem;
  margin: 1rem 8.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 3fr 3fr 2fr;
      grid-template-rows: 3fr 3fr 2fr;
  -ms-grid-columns: (3fr)[3];
      grid-template-columns: repeat(3, 3fr);
  grid-gap: 1rem;
}

#hero div {
  border-radius: 0.5rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 27rem;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

#hero div:hover {
  background-size: 29rem;
  border-radius: 0.5rem;
}

#hero div a {
  font-size: 2.5rem;
  color: white;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

#hero .main-shoes {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.4))), url("/assets/hero/sharon-garcia-pkUH647RogQ-unsplash-min.jpg");
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4)), url("/assets/hero/sharon-garcia-pkUH647RogQ-unsplash-min.jpg");
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  background-position: bottom;
  position: relative;
  background-size: 52rem;
}

#hero .main-shoes:hover {
  background-size: 54rem;
}

#hero .main-shoes a {
  font-size: 4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-transform: uppercase;
  text-align: right;
  color: white;
  border-radius: .5rem;
  width: 35rem;
}

#hero .adidas {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5))), url("/assets/hero/bogdan-glisik-WQqczef8Cfg-unsplash (1)-min.jpg");
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5)), url("/assets/hero/bogdan-glisik-WQqczef8Cfg-unsplash (1)-min.jpg");
}

#hero .adidas a {
  position: absolute;
  top: 40%;
  left: 78%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#hero .nike {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5))), url("/assets/hero/revolt-164_6wVEHfI-unsplash (1)-min.jpg");
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5)), url("/assets/hero/revolt-164_6wVEHfI-unsplash (1)-min.jpg");
}

#hero .nike a {
  position: absolute;
  top: 75%;
  left: 78%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#hero .vans {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5))), url("/assets/hero/matt-tsir-GJs-sZriX9g-unsplash-min.jpg");
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5)), url("/assets/hero/matt-tsir-GJs-sZriX9g-unsplash-min.jpg");
}

#hero .vans a {
  position: absolute;
  -webkit-transform: translate(9rem, 3.5rem);
          transform: translate(9rem, 3.5rem);
}

#hero .reebok {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5))), url("/assets/hero/maureen-de-wit-cEot_30k978-unsplash-min.jpg");
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5)), url("/assets/hero/maureen-de-wit-cEot_30k978-unsplash-min.jpg");
}

#hero .reebok a {
  position: absolute;
  -webkit-transform: translate(8rem, 3.5rem);
          transform: translate(8rem, 3.5rem);
}

#hero .converse {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5))), url("/assets/hero/thuan-pham-tvl2Pa98K_g-unsplash-min.jpg");
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5)), url("/assets/hero/thuan-pham-tvl2Pa98K_g-unsplash-min.jpg");
}

#hero .converse a {
  position: absolute;
  -webkit-transform: translate(6rem, 3.5rem);
          transform: translate(6rem, 3.5rem);
}

.title {
  margin: 1rem 8.5rem;
  font-size: 1.5rem;
  margin-top: 2rem;
  padding: 1rem 0 0.5rem 0;
  font-weight: lighter;
  text-transform: uppercase;
  border-bottom: 0.1rem solid var(--hover-text);
}

.best-seller-section {
  margin: 1rem 8.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.best-seller-section .card {
  margin: 0 1rem;
  margin-top: 1rem;
  padding: 1rem;
  width: 17rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.best-seller-section .card:hover {
  -webkit-box-shadow: 8px 0 10px -4px rgba(153, 153, 153, 0.5), -8px 0 10px -4px rgba(153, 153, 153, 0.5);
          box-shadow: 8px 0 10px -4px rgba(153, 153, 153, 0.5), -8px 0 10px -4px rgba(153, 153, 153, 0.5);
}

.best-seller-section .card img {
  width: 15rem;
  height: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.best-seller-section .card h1 {
  color: var(--hover-text);
  padding: .5rem 0;
}

.best-seller-section .card p {
  font-size: .8rem;
  padding-bottom: .5rem;
}

.best-seller-section .card a {
  border: none;
  background-color: #e0e0e0;
  color: black;
  padding: .5rem;
  -webkit-transition: all .4s ease-in;
  transition: all .4s ease-in;
}

.best-seller-section .card a:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.best-seller-section .card #liquidacion {
  background-color: orange;
  color: white;
  border-radius: .3rem;
  padding: .3rem .5rem;
  letter-spacing: .2rem;
  text-transform: uppercase;
  position: relative;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  top: -23rem;
  left: 9rem;
}

.pre-footer {
  margin: 1rem 8.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pre-footer div {
  width: 50%;
  height: 20rem;
  margin-top: 3rem;
  border-radius: .5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.pre-footer .newsletter {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3rem;
}

.pre-footer .newsletter h1,
.pre-footer .newsletter p,
.pre-footer .newsletter .fa-envelope-open-text {
  color: var(--hover-text);
}

.pre-footer .newsletter .fa-envelope-open-text {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.pre-footer .newsletter h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.pre-footer .newsletter p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.pre-footer .newsletter .subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0.5rem;
  margin-left: 0;
  width: 30rem;
}

.pre-footer .newsletter .subscribe input {
  border-top-left-radius: .2rem;
  border-bottom-left-radius: .2rem;
  border: none;
  width: 400px;
  padding: .5rem;
  outline: none;
}

.pre-footer .newsletter .subscribe a {
  border: .05rem solid white;
  background-color: black;
  color: white;
  padding: .5rem;
  border-top-right-radius: .2rem;
  border-bottom-right-radius: .2rem;
  -webkit-transition: all .4s ease-in;
  transition: all .4s ease-in;
}

.pre-footer .newsletter .subscribe a:hover {
  background-color: var(--hover-text);
  color: white;
  cursor: pointer;
  border: 0.05rem solid var(--hover-text);
}

.pre-footer .sale {
  background-image: url("/assets/pre-footer/claudio-schwarz-purzlbaum-628M6D91QX0-unsplash-min.jpg");
  background-size: cover;
  background-position: -5rem 0;
}

.pre-footer .sale div {
  position: relative;
  -webkit-transform: translate(110%, 20%);
          transform: translate(110%, 20%);
}

.pre-footer .sale div h1 {
  font-size: 2.5rem;
  color: white;
  text-align: center;
  margin-left: -6.5rem;
}

.pre-footer .sale div a {
  border: .2rem solid white;
  color: white;
  padding: .5rem;
  border-radius: .2rem;
  margin-top: 1rem;
  margin-left: -3rem;
  position: absolute;
  font-size: 2.5rem;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.pre-footer .sale div a:hover {
  border: 0.2rem solid var(--hover-text);
  color: var(--hover-text);
  background-color: black;
}

#footer {
  margin: 0 8.5rem;
  border-top: 0.02rem solid rgba(0, 0, 0, 0.8);
  border-bottom: 0.02rem solid rgba(0, 0, 0, 0.8);
}

#footer .footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20rem;
}

#footer .footer-logo .logo-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#footer .footer-logo .logo-social .social-button ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#footer .footer-logo .logo-social .social-button ul li a {
  font-size: 1.5rem;
  color: white;
}

#footer .footer-logo .logo-social .social-button ul li a i {
  padding: 0 .5rem;
  margin: 0 .2rem;
  background-color: var(--hover-text);
  padding: .5rem;
  border-radius: .4rem;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

#footer .footer-logo .logo-social .social-button ul li a i:hover {
  background-color: black;
}

#footer .footer-logo .sections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 1rem;
}

#footer .footer-logo .sections .categorias {
  padding: 0 4rem;
}

#footer .footer-logo .sections .categorias h1 {
  text-transform: uppercase;
  margin-bottom: .5rem;
}

#footer .footer-logo .sections .categorias ul li {
  padding-top: .3rem;
}

#footer .footer-logo .sections .categorias ul li a {
  color: black;
  -webkit-transition: color .1s ease-in;
  transition: color .1s ease-in;
}

#footer .footer-logo .sections .categorias ul li a:hover {
  color: var(--hover-text);
}

#credit-card-shipping-footer {
  height: 6rem;
  background-color: black;
}

#credit-card-shipping-footer .credit-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 6rem;
}

#credit-card-shipping-footer .credit-card i,
#credit-card-shipping-footer .credit-card img {
  color: white;
  padding-top: 2rem;
  font-size: 2rem;
  padding-left: 2rem;
}

.product {
  margin: 0 8.5rem;
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product img {
  width: 65%;
  -o-object-fit: cover;
     object-fit: cover;
  padding-left: 3rem;
}

.product .product-content {
  margin: 0 2rem;
  padding-right: 8rem;
}

.product .product-content h1 {
  font-size: 1.5rem;
  margin-bottom: .5rem;
}

.product .product-content .product-price {
  font-size: 1.9rem;
  margin-bottom: .5rem;
}

.product .product-content .product-color {
  font-size: 1.2rem;
  margin-bottom: .5rem;
}

.product .product-content .product-talles {
  margin-bottom: .5rem;
}

.product .product-content .product-talles p {
  padding-bottom: .5rem;
}

.product .product-content .product-talles button {
  background-color: black;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
  padding: .4rem;
}

.product .product-content .product-talles button:hover {
  background-color: black;
  color: var(--hover-text);
}

.product .product-content .product-carrito {
  background-color: white;
  color: black;
  outline: none;
  border: none;
  cursor: pointer;
  padding: .4rem;
  border: .05rem solid black;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
  margin-bottom: .5rem;
}

.product .product-content .product-carrito:hover {
  background-color: black;
  color: var(--hover-text);
}

.product .product-content .product-detalles {
  margin: 1.5rem 0;
}

.product .product-content .product-detalles .product-detalles-title {
  font-size: 1.3rem;
  margin-bottom: .5rem;
}

.product .product-content .product-detalles .product-detalles-texto {
  font-size: 1.1rem;
}
/*# sourceMappingURL=main.css.map */